<div class="flex column">
    <h1>Liste des consommables</h1>
    <div class="flex column">
        <div class="fade-container relative">
            @if (!addCat()) {
                <button  (click)="toggleAddCat()" animate.enter="enter-animation" animate.leave="leave-animation" >Add Catégorie</button>
            }
            @else {
                <div class="flex row absolute-top" animate.enter="enter-animation" animate.leave="leave-animation">
                    <input #nomCat type="text" name="" id="">
                    <button (click)="checkInput(nomCat.value)">Valider</button>
                    <button (click)="toggleAddCat()">Annuler</button>
                </div>
            }
        </div>
        @for (item of consommablesCat; track $index) {
            <div class="flex column">
                <div class="flex row space-between">
                    <div class="flex row">
                        <h1> {{ item.nomCat }} </h1>
                    </div>
                    
                    <button (click)="deleteConsommableCat(item.id)">delete</button>
                </div>
                <table>
                    <tr>
                        <td class="table-td">Libelé</td>
                        <td class="table-td">Quantité</td>
                        <td class="table-td">Unité</td>
                        <td class="table-td">Action</td>
                    </tr>
                    @for (consommable of item.Consommable; track $index) {
                        <tr>
                            <td class="table-td"> {{ consommable.libele }} </td>
                            <td class="table-td"> {{ consommable.quantite }} </td>
                            <td class="table-td"> {{ consommable.unite }} </td>
                            <td class="table-td">
                                <div class="flex row">
                                    <button>Entrée</button>
                                    <button>Sortie</button>
                                    <button (click)="deleteConsommable(consommable.id)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="hidden-input" [ngClass]="{ showned: isOpen(item.id) }">
                            <input #refLibele type="text" name="" id="" >
                        </td>
                        <td class="hidden-input" [ngClass]="{ showned: isOpen(item.id) }">
                            <input #refQuantite type="number">
                        </td>
                        <td class="hidden-input" [ngClass]="{ showned: isOpen(item.id) }">
                            <input #refUnite type="text" name="" id="">
                        </td>
                        <td class="hidden-input" [ngClass]="{ showned: isOpen(item.id) }">
                            <div class="flex row hidden-input">
                                <button (click)="checkValue(refLibele.value, refQuantite.value, refUnite.value, item.id)" >Valider</button>
                            </div>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            @if (isOpen(item.id)) {
                                <button (click)="toogleForm(item.id)">cancel</button>
                            }
                            @else {
                                <button (click)="toogleForm(item.id)">Ajout Consommable</button>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>

