.hidden-form{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.hidden-input{
    overflow: hidden;
}

.hidden-input *{
    transform: translateY(-200%);
    transition: 0.5s ease;
}

.hidden-input.showned *{
    transform: translateY(0);
}

.hidden-form.expanded{
    max-height: 150px;
    opacity: 1;
}

.fading-zone{
    opacity: 1;
    transition: 0.5s ease;
}
.fading-zone.on {
    opacity: 0;
}

.menu{
    background: #fff;
    width:100%;
    position: absolute;
    top: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border: 1px solid #ddd;
}
.menu *{
    padding: 0;
    margin: 0;
}