/* You can add global styles to this file, and also import other style files */

.relative{
    position: relative;
    display: inline-block;
}

.absolute-top{
    position: absolute;
    top:0;
}

.flex{
    display:flex;
}
.flex.row{
    flex-direction: row;
}
.flex.column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}

.grid{
    display: grid;
}
.grid.grid-2{
    grid-template-columns: 1fr 1fr;
}
.grid.grid-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.grid.grid-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-1-2-2-1{
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.grid-1-3-3-1{
    grid-template-columns: 1fr 3fr 3fr 1fr;
}

.table-td{
    border-bottom: 1px solid #aaa;
}

.gap-05{
    gap:0.5em;
}


.fade-container {
  display: inline-block;
  position: relative;
  min-height: 20px;
}

.fade {
  transition: opacity 0.3s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fading-container{
    transition: opacity 1s;
}

.enter-animation{
    animation: enter 1s ;
}
.leave-animation{
    animation: leave 1s ease-out ;
}


@keyframes enter {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes leave {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}